[submodule "authentication"]
	path = authentication
	url = https://github.com/migueltanada/authentication.git
[submodule "messaging"]
	path = messaging
	url = https://github.com/migueltanada/messaging.git
[submodule "mockapi"]
	path = mockapi
	url = https://github.com/migueltanada/mockapi.git
